body {
  background: #eee;
  color: #445;
  font-family: 'Roboto Condensed', helvetica, sans-serif;
  margin: 0;
}

/* header and main menu */
header.cei {
  background: #556;
  color: #fff;
  text-align: center;
  position: sticky;
  top: 0;
  font-size: 0.87em;
  z-index: 60000;
}
header.cei h1 {
  margin: 0;
}
.cei nav {
  display: flex;
  width: 100%;
}
header.cei h1,
.cei nav a {
  font-size: 1.25em;
  line-height: 2em;
}
.cei nav a {
  display: inline-block;
  background: #ddd;
  color: #595;
  text-decoration: none;
  width: 750px;
  text-align: center;
  font-weight: bold;
  border-left: 2px solid #556;
  transition: all .6s;
}
.cei nav a:first-child {
  color: #955;
}
.cei nav a:last-child {
  color: #559;
}
.cei nav a:hover {
  background: #eee;
  color: #445;
}

main {
  padding: 1em;
  font-size: 1.25em;
  max-width: 1190px;
  margin: 0 auto;
}
main h1 {
  margin-top: 0;
}
main aside {
  width: 90%;
  margin: 0 auto;
}

/* content styles */
.slides {
  max-width: 1190px;
  margin: 0 auto;
}
.slides img {
  width: 100%;
}
main dt {
  font-weight: bold;
}

/* footer */
footer.cei {
  padding: 1em;
  background: #556;
  color: #fff;
  line-height: 1.75em;
}
footer.cei a {
  text-decoration: none;
  color: inherit;
}
footer.cei address {
  font-style: normal;
}
footer.cei address:last-child {
  text-align: right;
}

/* MEDIA QUERIES */

@media (min-width: 480px) {
  footer.cei {
    display: flex;
    justify-content: space-between;
  }
  footer.cei address:last-child {
    text-align: right;
  }
  main aside {
    width: 90%;
    max-width: 500px;
    margin: 1em auto;
  }
}

@media (min-width: 860px) {
  header.cei {
    display: flex;
    justify-content: space-between;
    padding-left: 1em;
  }
  .cei nav {
    width: 40%;
  }
  main {
    display: flex;
  }  
  main aside {
    width: 570px;
    margin-left: 1em;
  }
}

@media (min-width: 1090px) {
  header.cei h1,
  .cei nav a {
    font-size: 1.75em;
  } 
}